
body {
    background-color: #010E05;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}
  
li {
    float: right;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to X on hover */
li a:hover {
    background-color: #295131;

}
.active {
    color: grey;
}


.bg-light {
    background-color: #0A5711 !important;
}


.nav-link {
    color: black;
}

.nav-link:hover {
    color: white;
}


#plant_display {
    border-collapse: collapse;
    width: 100%;
    background-color: lightgray;
}
  
#plant_display,th{
    color: Black;
    text-align: left;
}
#plant_display,td{
    color: #222;

}

.delete{
    border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap
}

footer{ 
    display: block;
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}


.content {
    font-family: sans-serif;
}


.left-split{
    width: 48%;
    margin: 1%;
}


.hero-image {
   display: block; 
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.displaying-error {
    margin: 10% 30% 0 30%;
}