

/* CSS that doesn't change depending on screen size  */
body {
    background-color: #010E05;
    color: white;
}

/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}
.nav-link {
    float: right;
}

a {
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the list item link color to X on hover */
li a:hover {
    background-color: #295131;

}
.active {
    color: grey;
}

.bg-light {
    background-color: #0A5711 !important;
}


.nav-link {
    color: black;
    padding: 0%;
}

.nav-link:hover, .active-nav-link {
    color: lightgray !important;}


#plant_display {
    border-collapse: collapse;
    width: 100%;
    background-color: lightgray;
}
  
#plant_display,th{
    color: Black;
    text-align: left;
}
#plant_display,td{
    color: #222;

}

.delete{
    border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap
}

footer{ 
    display: block;
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}


.content {
    font-family: sans-serif;
}


.left-split{
    width: 48%;
    margin: 1%;
}

.top-home-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-image {
    align-items: center;
    justify-content: center;
    margin: 0% 50% 0% 50%;
   /* margin-left: auto;
   margin-right: auto; */
   width: 50%;
}

.displaying-error {
    margin: 10% 30% 0 30%;
}


.CTA {
    list-style-type:circle;
    
}

.CTA-list {
    list-style-type: disc;
    list-style-type: disc;
    overflow: visible;
    padding: 0;
}

.CTA-link {
    text-decoration: underline;
    color: G;
}

/* About Us page*/
.about-text {
    display: flex; 
    text-align: center;
    flex-direction: column;
}
.about-us-goal {
    text-align: center;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.about-us-profile {
    text-align: center;
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.about-us-profile-image {
    border-radius: 50%;
    max-width: 100px;
    max-height: auto;
}


input {
    width: 100%;
}



/* CSS for most Mobile phones */

@media only screen and (max-width: 640) {

    
}




@media only screen and (min-width: 641px) {
    body {
        background-color: lightblue;
    }
}


