{%  extends 'layout.html'  %}
{%  block content  %}
<div class="about-text">
    <div class="about-us-goal">
        <h2 style="margin-top:5%;">Our Goal</h2>
        <br>
        <p>We want to encourage the youth of New Zealand to plant their own food. We have made the web application to change gardening from a complex and hard task to a simple and fun experience
        </p>
    </div>
    <h2>Meet the team </h2>
    <div class="about-us-profile">
        <img class="about-us-profile-image" src="/static/images/Ollie-profile-picture.jpg" alt="Picture of our founder Ollie Brown">
        <div class="about-us-profile-text">
            <h4 class="about-us-staff-Name">
                Ollie Brown
            </h4>
            <h6 class="about-us-staff-posistion">
                Founder and head programmer
            </h6>
            <p class="about-us-staff-bio">
                Ollie created the Plant Box in 2022 with a mission to make it simple for people to grow their own food. As a programmer and gardener as a hobby, Ollie made a one stop web application for all gardeners, Hobbbsts and professionals alike.
            </p>
        </div>

        </p>
    </div>
    <p> </p>
</div>
{%  endblock  %}