<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
</head>
<body>
    
    <h1>The page you are looking for does not exist   </h1>
    <img class="error-image" style="width:50%; margin-left:25%" src="/static/images/404-pic.jpg">
    <p> Please return to the home garden</p>
    <p><b>ERROR: </b> {{error}}</p>
    <p class="error-link"> <a href="/"><u>Back to home garden</u></a></p>



</body>
</html>