{%  extends 'layout.html'  %}
{%  block content  %}


<div class="hero-image" height="300px">
    <img src="/static/images/test-carousel1.jpg" height="auto" width="100%"  alt="">
</div>




<div class="content">
    <div class="left-split" style="float:left" >
        <img src="/static/images/test-image1.jpg" width="100%" height="auto" >
    </div>
    <div class="right-split" style="float: right; width: 48%;">
        <div class="text" style="width: 100%; margin: 1%;">
            a big section of text a big section of text oh wait its now a large section of text :0 I need to keep writing for some reason. stupid testing
        </div>
        </div>
    <br style="clear:both;"/>
</div>


<div class="content">
    <div class="left-split" style="float:right" >
        <img src="/static/images/test-image1.jpg" width="100%%" height="auto" >
    </div>
    <div class="right-split" style="float: left; width: 48%;">
        <div class="text" style="width: 100%; margin: 1%;">
            a big section of text a big section of text oh wait its now a large section of text :0 I need to keep writing for some reason. stupid testing
        </div>
        </div>
    <br style="clear:both;"/>

</div>

{%  endblock  %}