{%  extends 'layout.html'  %}
{%  block content  %}

<!-- START YOUR JOURNEY NOW  -->
<div class="top-home-row" width="100%">
    <div class="hero-image" height="300px">
        <img src="/static/images/hero-image.jpg" width="200rem" height="auto"  alt="">
    </div>
</div>



<div class="content">
    <div class="left-split" style="float:left" >
        <img src="/static/images/test-carousel2.jpg" width="100%" height="auto" >
    </div>
    <div class="right-split" style="float: right; width: 48%;">
        <div class="CTA" style="width: 100%; margin: 1%;">
            <h4>What can Theplantbox do for you?</h4>
            <ul class="CTA-list">
                <li> Help you manage your plants</li>
                <li> Relative and easy to understand information</li>
                <li> Teaching new life skills</li>
            </ul>
            <a class="CTA-link" href="/signup">GET STARTED NOW</a>
        </div>
        </div>
    <br style="clear:both;"/>
</div>

<div class="content">
    <div class="left-split" style="float:right" >
        <img src="/static/images/test-image1.jpg" width="100%%" height="auto" >
    </div>
    <div class="right-split" style="float: left; width: 48%;">
        <div class="home-explain" style="width: 100%; margin: 1%;">
            <p> Theplantbox plants management uses the word "plantling" to refer to each plant you are growing. For example :
                "Please enter your plantling's name" you would enter something like "Porch spring onions" </p>
        </div>
        </div>
    <br style="clear:both;"/>

</div>

{%  endblock  %}