<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Plant Box</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
</head>
<body>
    <nav>
      <ul>
          <li><a href="plants" >plants</a></li>
          <li><a href="/" class="active">Home</a></li>

      </ul>  
    </nav>
    <div id="main">
        <!-- The block for the main content starts here- nothing in it! -->
        {% block content %}
        {% endblock %}
    </div>
    <!-- <footer>
        <p>
        Favicon from https://www.freeiconspng.com/img/34788
        </p>
    </footer> -->
</body>

</html>