{%  extends 'layout.html'  %}
{% block content %}
<div class="login-form">
    <h2>Log in </h2>
    <!-- Form for logging in sends relevant data to main.py  -->
    <form method="post">
        <label for="email">Enter your email address:</label>
        <input type="email" id="email" name="email_address" required />
        <label for="password">Enter your password:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Submit</button>
    </form>
    <p class="login-signup-change">Don't have an account? <a href="/signup"><u>Sign up</u></a></p>
    {%  if incorrect_creds:  %}
    <p class="error_msg">Incorrect username or password, please try again.</p>
    {%  endif  %}
</div>
{%  endblock  %}
