{% extends 'layout.html' %}
{% block content %}
<br>

{%  if logged_in:  %}
<h1>Hello {{ session['name']  }} </h1>
<h1>your plants:</h1>

{%  else:  %}
<h1> You are not signed in  </h1>
<h1>Example of plants:</h1>
{%  endif  %}
<table id="plant_display">
    <tr>
        <th>Plant</th>
        <th>Plant-type</th>

    </tr>
    <tr>


        {%  for item in plants  %}
        <tr>
            <td>{{  item['nickname']  }}</td>
            <td>
                <a href="/page/{{ item['slug'] }}">{{  item['plant_name']  }}</a>
            </td>
            <td>
                <form action="/delete" method="post">
                    <button type="submit" class = "w3-button">
                        <i class="fa fa-trash"></i>
                        <input type="hidden" name="ID" value="{{  item['ID']  }}">

                    </button>
                </form>
            </td>
        </tr>
        {%  endfor  %}
    </tr>

</table>
<br>
<form action="/" method="post" class="w3-container w3-card-4 w3-grey">
    <h2>Add a Plantling</h2>
    <div></div>
    <label>Name of plantling</label>
    <input placeholder='E.g "Strawberry row 1"' type="text" name="name" required>
    <label>planted date</label>
    <input placeholder="DD/MM/YYYY" type="text" name="planted_date" required>
    <label for="plant-select">Choose a plant</label>
    <!-- <label for="plants">Please select an option</label> -->
    <select name="plants" id="plant-selection" required>
        <option value=""  selected disabled hidden>--Please select an option--</option>
        {%  for item in plant_type_list  %}
        <option value="{{  item['ID']  }}" >  {{item['name']}}  </option>
        {%  endfor  %}
    </select>
    
    <button type="submit">Submit</button>
    </form>
<br>


{% endblock %}