{% extends 'layout.html' %}
{% block content %}
<br>
<h1>Data Test</h1>
<table id="plant_display">
    <tr>
        <th>Plant</th>
        <th>Plant-type</th>

    </tr>
    <tr>


        {%  for item in plants  %}
        <tr>
            <td><a href="/page/{{ item['slug'] }}">{{  item['nickname']  }}></a></td>
            <td>{{  item['plant_name']  }}</td>
            <td>
                <form action="/delete" method="post">
                    <button type="submit" class = "w3-button">
                        <i class="fa fa-trash"></i>
                        <input type="hidden" name="ID" value="{{  item['ID']  }}">

                    </button>
                </form>
            </td>
        </tr>
        {%  endfor  %}
    </tr>

</table>
<br>
<form action="/" method="post" class="w3-container w3-card-4 w3-grey">
    <h2>Add a Plant</h2>
    <label>Name</label>
    <input type="text" name="name">
    <label>planted date</label>
    <input type="text" name="planted_date">
    <label for="plant-select">Choose a plant</label>
    <select name="plants" id="plant-selection">
        <option value="" selected>--Please choose an option--</option>
        {%  for item in plant_type_list  %}
        <option value="{{  item['ID']  }}" >  {{item['name']}}  </option>
        {%  endfor  %}
    </select>

    <button type="submit">Submit</button>
    </form>
<br>


{% endblock %}